# --- Visual Studio ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates
*.db-shm
*.db-wal

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- Testing & Coverage ---
.coverage
htmlcov/
.pytest_cache/
.noseids
nosetests.xml
coverage.xml

# --- OS Specific ---
.DS_Store
Thumbs.db